<div class="container" ng-controller="JobController">
	<h4 align="center">Enter Job Information</h4>
	<hr>
	<table align="center">
		<tr>
			<th> Description</th>
			<td><input type="text" required="required" name="description" ng-model="job.jobdesc" /></td>
		</tr>
		<tr>
			<th> Designation</th>
			<td><input type="text" name="designation" ng-model="job.designation" required/></td>
		</tr>
		<tr>
			<th>Company</th>
			<td><input type="text" required="required" name="company name" ng-model="job.companyname" required/></td>
		</tr>
		<tr>
			<th>Location</th>
			<td><input type="text" required="required" name="location" ng-model="job.location" required/></td>
		</tr>
		<tr>
			<th>Salary</th>
			<td><input type="text" required="required" name="salary" ng-model="job.salary" required/></td>
		</tr>
		<tr>
			<th>Last Date To Apply</th>
			<td><input type="text" required="required" name="lastDateToApply" ng-model="job.lastDateToApply" required/></td>
		</tr>
		<tr align="center">
			<td colspan="2"><input value="Insert Job"
				class="btn btn-warning" ng-click="addJob()" type="submit" /></td>
		</tr>
	</table>
</div>